/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
} */

.main {
  max-width: 900px;
  padding: 16px;
  margin: 0 auto;
}

.post {
  border: 1px solid #ddd;
  padding: 20px;
  margin: 24px;
  text-decoration: none;
  color: inherit;
  display: block;
}

.post:hover {
  text-decoration: none;
  color: inherit;
}

.post:visited {
  color: inherit;
}

.postTop {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title {
  margin: 16px auto;
  font-weight: normal;
}

.thumbnail {
  width: 100%;
  height: auto;
  display: block;
}

.date {
  color: #777;
  font-size: 14px;
  margin: 0;
}

.categories {
  display: flex;
  gap: 8px;
}

.categories span {
  color: #4c6ef5;
  border: 1px solid #4c6ef5;
  padding: 4px 8px;
  font-size: 12px;
  border-radius: 4px;
}

.content {
  font-size: 15px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  margin: 0;
}

.contentFull {
  display: block;
  overflow: visible;
  -webkit-line-clamp: unset;
  -webkit-box-orient: unset;
}

.detail {
  margin: 24px;
}

.detailBody {
  padding: 20px;
}